#clique{
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    height: 100px;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#container{
    background-color: #bebebe;
    width: 180px;
    height: 150px;
}