body {
    background-image: url("./flamengo.jpg");
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1{
    text-align: center;
  }
  p{
    font-weight: 900;
    color:rgb(255, 255, 255);
    text-align: center;
  }